<div class="block-about">
  <div class="inner-container">
    <div class="title">ABOUT ANGIE</div>
    <div class="subtitle">"Nothing will work unless you do"</div>
    <p>
      Hi and come on in. I'm thrilled you stopped by and I won't keep you here long. I'm already blushing...
      I am already 25 years experience in the fitness industry, a Master Degree and Gold Standards Certifications,
      but what I have most is <b>LOVE</b> for what I do. I live and breathe the work I do. It is my calling.
    </p>
    <p>
      I created the Road to Awesome because I believe I have the tools to help you live the best life regardless of your
      circumstances, a lesson that I had to learn firsthand... but this is just the beggining of my story and why I am
      fully committed to you.
    </p>
    <div class="actions">
      <button class="action">READ MY STORY</button>
    </div>
  </div>
</div>