<div class="header">
  <div fxLayout="row">
    <div fxFlex class="presentation" fxLayout="row">
      <div class="logo"></div>
      <div class="site-name">ANGIE STEWART <span class="palette-primary default-color" style="font-weight: 600">FITNESS</span></div>
    </div>
    <div class="menu" fxLayout="row" fxHide.lt-md>
      <div fxFlex class="item">ABOUT</div>
      <div fxFlex class="item active">PLANS</div>
      <div fxFlex class="item">TESTIMONIALS</div>
      <div fxFlex class="item">BLOG</div>
      <div fxFlex class="item">FAQ</div>
      <div fxFlex class="item">CONTACT</div>
    </div>
  </div>
  <div class="mobile-menu" fxHide.gt-sm>
    Menu
  </div>
</div>