<div class="header">
  <div fxLayout="row">
    <div fxFlex class="presentation" fxLayout="row">
      <div class="logo"></div>
      <div class="site-name">ANGIE STEWART <span class="palette-primary default-color" style="font-weight: 600">FITNESS</span></div>
    </div>
    <div class="menu page-menu" fxLayout="row">
      <div fxFlex class="item"><a href="#section-1">HOME</a></div>
      <div fxFlex class="item active"><a href="#section-1">PLAN</a></div>
      <div fxFlex class="item"><a href="#section-1">TESTIMONIALS</a></div>
      <div fxFlex class="item"><a href="#section-1">ABOUT</a></div>
      <div fxFlex class="item"><a href="#section-1">BLOG</a></div>
      <div fxFlex class="item"><a href="#section-1">CONTACT</a></div>
    </div>
  </div>
</div>
