@import '../../../assets/style';
.preheader {
  background: map-deep-get($site-palettes, symbol, lighter);
}

.socials {
  text-align: left;
  md-icon {
    padding: $mat-menu-side-padding;
    color: map-deep-get($site-palettes, symbol, default);
  }
}

.button {
  padding: $mat-menu-side-padding + 4;
  font-size: 24px - 8;
  line-height: 24px - 8;

  &.login {
    background: map-deep-get($site-palettes, symbol, default);
    color: map-deep-get($site-palettes, symbol, default-contrast);
  }

  &.signin {
    background: map-deep-get($site-palettes, primary, default);
    color: map-deep-get($site-palettes, primary, default-contrast);
  }
}