<div fxLayout="row" class="preheader" fxFill>
  <div fxFlex class="socials">
    <md-icon class="mdi mdi-facebook mdi-24px"></md-icon>
    <md-icon class="mdi mdi-twitter mdi-24px"></md-icon>
    <md-icon class="mdi mdi-instagram mdi-24px"></md-icon>
    <md-icon class="mdi mdi-youtube-play mdi-24px"></md-icon>
  </div>
  <div class="actions" fxLayoutAlign="row">
    <div fxFlex class="button login">LOGIN</div>
    <div fxFlex class="button signin" (click)="openPaletteDialog()">PALETTE</div>
  </div>
</div>