@import '../../../assets/style';

:host() {
  background-image: url(background.jpg);
  background-size: cover;
  color: map-deep-get($site-palettes, symbol, darker-contrast);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.motto {
  font-family: 'Satisfy', cursive;
  @include font-size-hero;
}

.motto-1 {
  @include font-size-subheading;
  padding: $mat-menu-side-padding * 4;

  @include cell {
    padding: 0;
  };

  .underline {
    border-bottom: solid 3px map-deep-get($site-palettes, primary, default);
  }
}

.call-to-action {
  padding: $mat-menu-side-padding;
  background: map-deep-get($site-palettes, symbol, lighter);
  color: map-deep-get($site-palettes, symbol, darker);
  border-radius: 24px;
}
