<div class="block-blog">
  <div class="post post-a" square>
    <div class="socials">
      <div>
        <md-icon class="mdi mdi-facebook mdi-24px"></md-icon>
        <md-icon class="mdi mdi-twitter mdi-24px"></md-icon>
      </div>
      <div>
        <md-icon class="mdi mdi-instagram mdi-24px"></md-icon>
        <md-icon class="mdi mdi-youtube-play mdi-24px"></md-icon>
      </div>
    </div>
  </div>
  <div class="post post-b" square>
    <div class="text">
      <p>Your body</p>
      <p>deserves</p>
      <p>the <u>best</u></p>
    </div>
  </div>
  <div class="post post-c" square>
    <div class="icon"><md-icon class="mdi mdi-instagram mdi-24px"></md-icon></div>
    <div class="space"></div>
    <div class="hash">@angiefitness</div>
  </div>
  <div class="post post-d" square>
    <div class="text">
      <div class="title">The Journey</div>
      <div class="subtitle">Is Everything</div>
    </div>
  </div>
  <div class="post post-e" square>
    <div class="container">
      <div class="icon-place">
        <md-icon class="mdi mdi-facebook mdi-48px"></md-icon>
      </div>
      <div class="hash">@angiewithfitness</div>
      <div class="text">
        <p>Do you bealive in you? I do.</p>
        <p>I just want to say you. Thank you!</p>
        <p>Either I was just ready of you have made this so simple...</p>
        <p>I am really enjoying.</p>
      </div>
    </div>
  </div>
  <div class="post post-f" square>
    <div class="text">
      <u>#YesYouCan</u>
    </div>
  </div>
</div>