@import '../../../assets/style';

.to-top {
  padding: $mat-menu-side-padding;
  background: map-deep-get($site-palettes, symbol, lighter);
  color: map-deep-get($site-palettes, symbol, default);
  text-align: center;
}

.block-footer {
  background: map-deep-get($site-palettes, symbol, darker);
  color: map-deep-get($site-palettes, symbol, darker-contrast);
  padding: $mat-menu-side-padding;

  .first-row {
    display: flex;
    flex-direction: row;

    @include cell {
      flex-direction: column;
    }

    .first-container {
      display: block;
      flex-grow: 1;
      padding: $mat-menu-side-padding;

      @include cell {
        padding: 0;
      }

      .name {
        padding: $mat-menu-side-padding;
      }

      .menu {
        padding: $mat-menu-side-padding;
        text-align: left;
      }
    }

    .second-container {
      display: block;
      flex-grow: 1;

      @include cell {
        padding: 0;
      }

      .socials {
        text-align: right;
        padding: $mat-menu-side-padding;
      }

      .form {
        text-align: right;
        padding: $mat-menu-side-padding;

        input {
          @include control-sizes;
          background-color: map-deep-get($site-palettes, symbol, darker);
          color: map-deep-get($site-palettes, symbol, darker-contrast);
        }

        button {
          @include control-sizes;
          background-color: map-deep-get($site-palettes, symbol, lighter);
          color: map-deep-get($site-palettes, symbol, darker);
          margin-left: -46px;
        }
      }
    }
  }

  .second-row {
    display: flex;
    flex-direction: row;

    @media only all and (max-width: 768px) {
      flex-direction: column;
    }

    .first {
      display: flex;
      flex-grow: 1;
    }

    .second {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      justify-content: flex-end;
      .text {
        display: flex;
      }
    }
  }
}
