<div class="to-top">
  <md-icon>keyboard_arrow_up</md-icon>
</div>
<div class="block-footer">
  <div class="first-row">
    <div class="first-container">
      <div class="name">
        <b>ANGIE STEWARD</b> FITNESS
      </div>
      <div class="menu">
        <span class="item">ABOUT</span>
        <span class="item active">PLANS</span>
        <span class="item">TESTIMONIALS</span>
        <span class="item">BLOG</span>
        <span class="item">FAQ</span>
        <span class="item">CONTACT</span>
      </div>
    </div>
    <div class="second-container">
      <div class="socials">
        <md-icon class="mdi mdi-facebook mdi-24px"></md-icon>
        <md-icon class="mdi mdi-twitter mdi-24px"></md-icon>
        <md-icon class="mdi mdi-instagram mdi-24px"></md-icon>
        <md-icon class="mdi mdi-youtube-play mdi-24px"></md-icon>
      </div>
      <div class="form">
        <input type="text" placeholder="Enter email">
        <button>Subscribe</button>
      </div>
    </div>
  </div>
  <div class="second-row">
    <div class="first">Site designed and build by :)</div>
    <div class="second"><div class="text">Get started with TRIAL and receive Angie's tips workouts.</div></div>
  </div>
</div>
