<div class="summary">
  <div class="title">CHOOSE YOUR PLAN</div>
  <div class="description">
    <p>Join the <span class="highlight">Road to Awesome</span> by choosing from three plans.</p>
    <p>The steps are simple: Sweat everyday, Eat nourishing food, Bealive you can do it.</p>
    <p>Each plan contains elements to help in these essential areas.</p>
  </div>
</div>
<div class="plans">
  <div class="plan plan-a" square>
    <div class="description">
      <div class="left"><div class="text">7</div></div>
      <div class="right">
        <div class="day">DAY</div>
        <div class="description">WAKE UP CALL</div>
        <div class="by">BY</div>
        <div class="name">ANGIE STEWART</div>
        <div class="fitness">FITNESS</div>
      </div>
    </div>
    <div class="price">
      <span>$19.99</span>
    </div>
  </div>
  <div class="plan plan-b">
    <div class="description">
      <div class="left"><div class="text">30</div></div>
      <div class="right">
        <div class="day">DAY</div>
        <div class="description">TRAININGS</div>
        <div class="by">BY</div>
        <div class="name">ANGIE STEWART</div>
        <div class="fitness">FITNESS</div>
      </div>
    </div>
    <div class="price">
      <span>$79.99</span>
    </div>
  </div>
  <div class="plan plan-c" square>
    <div class="description" >
      <div class="left"><div class="text">VIP</div></div>
      <div class="right">
        <div class="day">DAY</div>
        <div class="description">LEADING</div>
        <div class="by">BY</div>
        <div class="name">ANGIE STEWART</div>
        <div class="fitness">FITNESS</div>
      </div>
    </div>
    <div class="price">
      <span>$19.99</span>
    </div>
  </div>
</div>
