@import '../../../assets/style';

:host {
  background: green;
  //background-image: url(background.jpg);
  background-size: cover;
  color: map-deep-get($site-palettes, symbol, darker);
  display: flex;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
}

.motto {
  margin: auto;
  text-align: center;
  font-size: 56px;
  line-height: 56px;
}
