@import '../../../assets/style';

:host {
  background-size: cover;
  color: map-deep-get($site-palettes, symbol, darker);
  display: flex;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
}

:host(.hideIfHeight) {
  @media only all and (max-height: 768px) {
    display: none;
  }
}

:host(.hideIfCell) {
  @include cell {
    display: none;
  }
}

.motto {
  margin: auto;
  text-align: center;
  @include font-size-heading;
}
