@import '../../../assets/style';
.block-motto {
  background-image: url(background.jpg);
  background-size: cover;
  height: 90vh;
  color: map-deep-get($site-palettes, symbol, darker);
  display: flex;
  align-content: center;
  justify-content: center;

  .motto {
    margin: auto;
    text-align: center;
    font-size: 56px;
    line-height: 56px;
  }
}
