<div class="block-partners">
  <div class="title">PRESS & PARTNERSHIPS</div>
  <div class="description">Take a look at partneships, contributions and features.</div>
  <div class="partners">
    <div class="arrow left">
      <md-icon>keyboard_arrow_left</md-icon>
    </div>
    <div class="container">
      <div class="partner partner-a" [heightRatio]="0.35"></div>
      <div class="partner partner-b" [heightRatio]="0.35"></div>
      <div class="partner partner-c" [heightRatio]="0.35"></div>
      <div class="partner partner-d" [heightRatio]="0.35"></div>
    </div>
    <div class="arrow right">
      <md-icon>keyboard_arrow_right</md-icon>
    </div>
  </div>
</div>