@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
@import '~@angular/material/theming';
@include mat-core();
@import './partials/_default-theme';
$config: mat-typography-config();


$hhh: 100px;

$site-palettes: (
  symbol: mat-palette($mat-grey),
  primary: $default-primary-color,
  accent: $default-accent-color,
);

$color-states: darker default lighter darker-contrast default-contrast lighter-contrast;
@each $name, $palette in $site-palettes {
  .palette-#{$name} {
    @each $state in $color-states {
      .#{$state} {
        background: map_get($palette, $state);
      }
    }
  }
}

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

body {
  background: map-deep-get($site-palettes, symbol, darker-contrast);
  color: map-deep-get($site-palettes, symbol, darker);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 0px;
}