@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600|Satisfy');
@import '~mdi/css/materialdesignicons.min.css';
@import '~@angular/material/theming';
@include mat-core();
@import './partials/default-theme';
@import './partials/functions';
@import './partials/mixins';
$config: mat-typography-config();
@import "./partials/palette";

html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  background: map-deep-get($site-palettes, symbol, darker-contrast);
  color: map-deep-get($site-palettes, symbol, darker);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 0px;
  text-align: center;

  @include font-size-text;
}
