@import '../../../assets/style';
.block-subscribe {
  padding: $mat-menu-side-padding;

  > .description {
    padding: $mat-menu-side-padding;

    @include cell {
      display: none;
    };
  }

  > .form {
    > input {
      @include control-sizes;
      background-color: map-deep-get($site-palettes, symbol, lighter);
      color: map-deep-get($site-palettes, symbol, darker);
      border: solid 1px map-deep-get($site-palettes, symbol, darker);

      @include cell {
          border-radius: 16px
      };
    }

    > button {
      padding: $mat-menu-side-padding;
      border-radius: 25px;
      background-color: map-deep-get($site-palettes, symbol, darker);
      color: map-deep-get($site-palettes, symbol, darker-contrast);
      @include cell {
          border-radius: 16px
      };
    }
  }
}
