<div class="title">TESTIMONIALS</div>
<div class="subtitle">See what people are saying about Road to Awesome</div>
<div class="opinions">
  <div class="opinion opinion-a">
    <div class="photo" [ngStyle]="{'background-image': avatarA}"></div>
    <div class="name">PETER</div>
    <div class="text">As a long time runner I recently found myself struggling to find the ...</div>
  </div>
  <div class="opinion opinion-b">
    <div class="photo" [ngStyle]="{'background-image': avatarB}"></div>
    <div class="name">TARA</div>
    <div class="text">I was in a fitness-drought when I signed up for my first 30 days with Angie. This...</div>
  </div>
  <div class="opinion opinion-c">
    <div class="photo" [ngStyle]="{'background-image': avatarC}"></div>
    <div class="name">SUSSIE</div>
    <div class="text">As a long time runner I recently found myself struggling to find the ...</div>
  </div>
</div>
<div class="actions">
  <button class="action">SEE MORE</button>
</div>
